body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Arial';
}

.nav {
	background-color: #fff;
	padding: 20px;
}

main header {
	margin: 0 auto;
	text-align: center;
	background-color: #1C2334;
	padding: 20px;
	color: #fff;
}

.main .header h1 {
	font-size: 64px;
}

main header p {
	color: #2BC0F5;
}

.footer .footer-banner {
	background-color: #3598DB;
	color: #fff;
}

.footer .footer-banner h4 {

}

.footer .footer-banner a {
	text-decoration: none;
	font-weight: bold;
}

footer .footer .footer-content {
	width: 100%;
	margin: 0 auto;
	background-color: #1C2334;
	padding: 20px;
	color: #fff;
}

.footer .footer-content .footer-links-container {
	background-color: #1C2334;
	float: left;
	margin-right: 48px;
}

.footer-links h2 {
	text-transform: uppercase;
}

.footer-links:first-child {
	margin-left: 64px;
}
