body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Arial';
}

.nav {
	background-color: #fff;
	padding: 40px 20px;
	text-align: center;
}

.nav .nav-links {
	display: inline;
	list-style: none;
}

.nav .nav-container .cea-logo {
	display: inline-block;
	width: 300px;
}

.nav .nav-links li {
	display: inline-block;
}

.nav .nav-links a {
	text-decoration: none;
	color: #898989;
	font-weight: bold;
	margin-right: 30px;
	font-size: 0.9em;
}

.nav .nav-links a:hover {
	color: #FE4A29;
}

.nav .nav-links span .try-button {
	width: 120em;
	background-color: #2BC0F5;
	color: #fff;
	font-weight: bold;
  border-radius: 25px;
  padding: 15px 32px;
  margin-left: 30px;
  margin-right: 20px;
}

.nav .nav-links span .try-button:hover {
	background-color: #FE4A29;
}

.nav .nav-links span .sign-in a {
	color: #FE4A29;
	font-weight: bold;
}

.nav .nav-links span .sign-in a:hover {
	color: #2BC0F5;
}

main {
	background-color: #EAEDF1;
}

header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #1C2334;
	padding: 60px 0;
	color: #fff;
}

header .header-title {
	font-size: 3em;
	font-weight: 600;
}

header .header-text {
	padding-left: 350px;
	padding-right: 350px;
	text-align: center;
	color: #2BC0F5;
	font-size: 1.5em;
	line-height: 1.6;
}

header #help-sidebar {
	color: #fff;
	background-color: #898989;
	position: absolute;
	top: 250px;
	left: 0;
	padding: 8px;
	border: 1.5px solid white;
	border-left: none;
}

main {
	display: block;
	width: 100%;
	background-color: #EAEDF1;
}

main .main-content {
	text-align: center;
	padding: 50px 250px;
}

main .main-content .left-container {
	display: inline-block;
	width: 275px;
	background-color: #fff;
	padding: 20px;
	text-align: left;
}

main .main-content .right-container {
	display: inline-block;
	width: 400px;
	background-color: #fff;
	padding: 20px;
	float: right;
	text-align: left;
}

footer .footer {
	width: 100%;
}

.footer .footer-banner {
	padding: 20px 0;
	background-color: #3598DB;
	color: #fff;
	text-align: center;
}

.footer .footer-banner a {
	text-decoration: none;
	font-weight: bold;
}

footer .footer section.footer-content {
	width: 100%;
	margin: 0 auto;
	background-color: #1C2334;
	padding: 20px;
	color: #fff;
}

.footer .footer-content .footer-links-container {
	background-color: #1C2334;
	float: left;
	margin-right: 48px;
}

.footer-links h2 {
	text-transform: uppercase;
	color: #fff;
}

.footer-links:first-child {
	margin-left: 64px;
}

.footer .footer-content #feedback-box {
	position: absolute;
	right: 100px;
	bottom: 0;
	width: 220px;
	background-color: #0265A8;
	color: #fff;
	padding: 8px 10px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
